function mainPrice(price, discountPrice){
    if (discountPrice){
        return {
            price: discountPrice,
            display: true
        }
    }
    return {
        price: price,
        display: true
    }
}

function slashedPrice(price, discountPrice){
    if (discountPrice){
        return {
            price: price,
            display: true
        }
    }
    return{
        display: false
    }
}

module.exports = {
    mainPrice: mainPrice,
    slashedPrice: slashedPrice
}